<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>ProProject</title>
  <script type="text/javascript" src="../angular/angular.js"></script>
  <script src="./js/myApp.js"></script>
  <script src="../jquery/dist/jquery.js"></script>
</head>
<body>

  
    
 <div ng-controller="serverCtrl">
    <input type="text" id="vorname"   ng-model='vorname'/>
    <input type="text" id="nachname"  ng-model='nachname'/>
    <input type="text" id="projekt"   ng-model='projekt'/>
    <input type="button" value="abschicken" ng-click="klick()"/>
     
     
    <div id="ergebnis">
    <p ng-model="vor"> {{vor}}</p> 
    <p ng-model="nach"> {{nach}}</p> 
    <p ng-model="pro"> {{pro}}</p>
    </div> 
     
     
    
     
     
 </div>
    
    


</body>
</html>
