<!DOCTYPE HTML>
<html>
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>ProProject - Index</title>

		<!-- Bootstrap Core CSS -->
		<link href="./bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="./css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Custom CSS -->
		<link href="css/mainstyle.css" rel="stylesheet">
        <script type="text/javascript" src="../angular/angular.js"></script>
        <script src="./js/projekt.js"></script>
        <script src="../jquery/dist/jquery.js"></script>
        <link type="text/css" rel="stylesheet" href="../bootstrap/dist/css/bootstrap.css"/>
        
		<!-- Custom CSS -->
		<link href="./css/loginstyle.css" rel="stylesheet">

	</head>

	<body>

		<!-- Header -->
		<div id="proprojectgif" class="col-md-1"><img src="img/ProProject.gif" class="img-responsive"/></div>
		<div class="backgroundlogin"></div>
			<div class="jumbotron">
				<div class="container">
					<h2>Login</h2>
					<div class="box">
						<input type="text" placeholder="username">
						<input type="password" placeholder="password">
						<button class="btn btn-default full-width">
							<span class="glyphicon glyphicon-ok"></span>
						</button>
					</div>
				</div>
			</div>
		
		<!-- About -->
		<footer></footer>

		<script src="./jquery/dist/jquery.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="./bootstrap/dist/js/bootstrap.min.js"></script>

		<!-- Custom Theme JavaScript -->
		<script>
			// Closes the sidebar menu
			$("#menu-close").click(function(e) {
				e.preventDefault();
				$("#sidebar-wrapper").toggleClass("active");
			});
			// Opens the sidebar menu
			$("#menu-toggle").click(function(e) {
				e.preventDefault();
				$("#sidebar-wrapper").toggleClass("active");
			});
			// Scrolls to the selected menu item on the page
			$(function() {
				$('a[href*=#]:not([href=#])').click(function() {
					if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
						var target = $(this.hash);
						target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
						if (target.length) {
							$('html,body').animate({
								scrollTop : target.offset().top
							}, 1000);
							return false;
						}
					}
				});
			});
		</script>

	</body>
</html>
