<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>ProProject</title>
  <script type="text/javascript" src="../angular/angular.js"></script>
  <script src="./js/myApp.js"></script>
  <script src="../jquery/dist/jquery.js"></script>
</head>
<body>

  
    
    <h1>Studenten immatrikulieren</h1>
    
    
 <div ng-controller="serverCtrl">
    <input type="text" placeholder="Vorname" id="vorname"   ng-model='vorname'/>
    <input type="text"  placeholder="Nahchname" id="nachname"  ng-model='nachname'/>
    <input type="text" placeholder="Matrikelnummer" id="matnr"   ng-model='matnr'/>
    <input type="button" value="abschicken" ng-click="klick()"/>
     
     
    <div id="ergebnis">
    <p ng-model="hinweis">{{hinweis}}</p>
    <p ng-model="vor"> {{vor}}</p> 
    <p ng-model="nach"> {{nach}}</p> 
    <p ng-model="mat"> {{mat}}</p>
    
         
    </div> 
     
     
    
      <table>
        <tr ng-repeat="x in students">
            <td>{{x}}</td>
        </tr>
    </table>
     
 </div>
    
    


</body>
</html>
